<link rel="stylesheet" href="/css/add_interview.css">

<div class="main">
    <div class="display">
        <div id="background"></div>
        <% if(!locals.user){%>
            <div class="intro">
                <div class="heading">
                    <h1>Introducing Placement Cell</h1>
                    <h2>by Coding Ninjas</h2>
                    <h1 id="extra">You need to Login</h1>
                </div>
            </div>
        <%} else{%>
            <div class="intro">
                <div class="heading">
                    <h1>Introducing Placement Cell</h1>
                </div>
                <div class="subheading">
                    <h2>by Coding Ninjas</h2>
                </div>
            </div>
            <div class="section">
                <div class="students">
                    <h2>Students</h2>
                    <a href="/user/add-student">
                        <button>+</button>
                    </a>
                </div>
            
                <div class="company">
                    <h2>All Company</h2>
                    <a href="/user/add-interview">
                        <button>+</button>
                    </a>
                </div>
            </div>
            <div class="main">
                <div class="student_list">
                    <ul>
                        <li>
                            <a href="">
                                <h3>Ritik</h3>
                            </a>
                        </li>
                    </ul>
                </div>
    
                <div class="company_list">
                    <ul>
                        <li>
                            <a href="">
                                <h3>ritik</h3>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="add_student_form">
                <div class="heading">
                    <h2>Add an interview</h2>
                    <a href="/user/placement-cell/?id=<%=user.id%>">
                        <i class="fa-solid fa-xmark"></i>
                    </a>     
                </div>
                <div class="form">
                    <form action="/user/interview/add-interview" id="new_student_form" method="post">
                        <input type="text" name="name" placeholder="Student Name">
                        <input type="email" name="email" placeholder="Student Email">
                        <input type="text" name="company" placeholder="Company Name">
                        <input type="text" name="address" placeholder="Company Address">
                        <input type="date" name="date" placeholder="Enter Date">
                        <input type="text" name="profile" placeholder="Enter Profile">
                        <button>Submit</button>
                    </form>
                </div>
            </div>
        <%}%>
    </div>
    
</div>