<link rel="stylesheet" href="/css/change_pass.css">
    <div id="sign_in_body">
        <div id="background"></div>
        <div class="home_text">
            <h3>Be more than a coder</h3>
            <h2>Be a Coding Ninja</h2>
        </div>
        <div class="home_img">
            <img id="img" src="	https://files.codingninjas.in/438375-17407.webp" alt="">
            <div class="forget_form">
                <div class="heading">
                    <h2>Hi, <%= user.name%></h2>
                    <a href="/">
                        <i class="fa-solid fa-xmark"></i>
                    </a>      
                </div>    
                <form action="/user/change-pass-verify/<%=user.id%>" method="post">
                    <input type="password" name="password" placeholder="Enter Password">
                    <input type="password" name="confirm_password" placeholder="Confirm Password">
                    <button>Done</button>
                </form>
            </div>

        </div>
        
    </div>
