<link rel="stylesheet" href="/css/home.css">
<div id="home_body">
   <div class="home_text">
        <h3>Be more than a coder</h3>
        <h2>Be a Coding Ninja</h2>
   </div>
   <div class="home_img">
        <img id="img" src="	https://files.codingninjas.in/438375-17407.webp" alt="">
   </div>
</div>

