<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        button{
            width: auto;
            height: 30px;
            font-size: 15px;
            border-radius: 5px;
            border: none;
            background-color: #0d6efd;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top:20px;
        }
    </style>
    <title>Forget passward</title>
</head>
<body>
    <p>
        Hi <span><b><%= user.name %></b></span>,
    </p>
    <br>
    <br>
    <p>We have received a request for changing your password.</p>
    <br>
    <p>If you want to change your password, please click change password button.</p>
    <br>
    <a href="http://localhost:8000/user/change-pass/<%=user.id%>"><button>Change Password</button></a>
    <br>
    <br>
    <p>Thank you</p>
</body>
</html>